# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
bower*/
public/lib/
app/tests/coverage/
.bower*/
.idea/

# MEAN.js app and assets
# ======================
config/sslcerts/*.pem
access.log
public/dist/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
